.sidebar {
  background-color: $color-primary;
  grid-row: 1/-1;
}

.nav__button {
  border: 0;
  border-radius: 0;
  margin: 4rem auto 0 auto;

  &,
  &:after,
  &:before {
    display: block;
    background-color: white;
    height: 2px;
    width: 4.5rem;
  }

  &:after {
    content: "";
    transform: translateY(0.8rem);
  }

  &:before {
    content: "";
    transform: translateY(-1rem);
  }
}